*{
    margin: 0;
    padding: 0;
    font-family: 'Madehand', sans-serif;
}
@font-face{
    font-family: Madehand;
    src: url(Madehand-Regular.ttf);
}
.part1{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(1.png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: inline-block;
}
.part2{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.enterance{
    font-size: 100px;
    color: aqua;
    padding: 1%;
    text-align: right;
}
.license{
    font-size: 25px;
    color: crimson;
    text-decoration: none;
    position: absolute;
    top: 90%;
    left: 90%;
}
.contact a{
    padding: 5px;
}
.contact h5{
    color: #c8ff008f;
}
.contact{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    text-align: center;
    padding: 3%;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    background: #00ff5556;
    border-radius: 35px;
}
.button{
    display: inline-block;
    color: antiquewhite;
    border: 1px solid #91e8ee;
    text-decoration: none;
    margin: 15px;
    background: #20ebda50;
    position: relative;
    cursor: pointer;
    color: aquamarine;
    border-radius: 20px;
}
.tg:hover{
    background: #0051ff;
    transition: 1s;
}
.gt:hover{
    background: #05ec37;
    transition: 1s;
}
.mail:hover{
    background: #b700ff;
    transition: 1s;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}